@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
  

@layer components {
  .routemein {
    @apply py-24 px-[24px] 2xl:px-[160px] w-full flex justify-center items-center;
  }
  .main {
    @apply flex flex-col justify-center items-center w-full max-w-7xl gap-8 sm:gap-10 md:gap-12 lg:gap-14;
  }
  .mainHeading { 
    @apply text-[22px] lg:text-[36px] text-[#3D2B1F]  tracking-wide   font-bold block w-full;
  }

  .subHeading {
    @apply text-[0.76rem] text-[#8B5E3C]  tracking-widest uppercase font-bold block w-full  font-serif;
  }

  .paragraph {
    @apply text-[14px] font-medium block w-full leading-relaxed  text-center lg:text-start  text-gray-400;
  }

  .title {
    @apply text-[18px]  font-bold text-[#3D2B1F]  text-center lg:text-start block w-full;
  }
  .label{
    @apply text-[14px] font-bold tracking-wider text-[#A68966] uppercase
  }
  .input {
    @apply w-full bg-white/5 rounded-lg border text-white border-white/10 px-4 py-3 focus:ring-[#8B5E3C] focus:border-[#8B5E3C] text-sm outline-none transition-all
  }
}
