@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {

} */

@layer components {
  .routemein {
    @apply py-4 md:py-12 lg:py-16 px-[24px] 2xl:px-[296px] w-full;
  }
  .main {
    @apply flex flex-col justify-center items-center w-full gap-8 sm:gap-10 md:gap-12 lg:gap-14;
  }
  .main2 {
    @apply flex flex-col lg:flex-row justify-center items-center w-full gap-8 sm:gap-10 md:gap-12 lg:gap-14;
  }
  .mainHeading {
    @apply text-[36px] text-[#3D2B1F]  tracking-wide  font-bold block w-full;
  }

  .subHeading {
    @apply text-[0.76rem] text-[#8B5E3C]  tracking-widest uppercase font-bold block w-full  font-serif;
  }

  .paragraph {
    @apply text-[14px] font-medium block w-full leading-relaxed  text-center lg:text-start  text-gray-400;
  }

  .title {
    @apply text-[18px]  font-bold text-[#3D2B1F]  text-center lg:text-start block w-full;
  }
}
